<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
"http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">

<html>

<head>


<style type='text/css'>
 body{margin:0;}
 a.top{
font-size:34pt;
          color:#ffffff;
          font-family:Verdana;
          text-decoration:none;
         }
 a.top:hover{
font-size:34pt;
          color:#ffffff;
          font-family:Verdana;
              text-decoration:none;
                   cursor:pointer;
}
 td.left{background-color:#2c5aa0;text-align:left;}
 td.right{background-color:#2c5aa0;text-align:right;}
 font.log_in{font-size:10pt;
          color:#ffffff;
          font-family:Verdana;
         }
 input.auth{background-color:#80b3ff; border: solid #000000 1px;width:100px;}
 input.exit{background-color: #2c5aa0;
          color:#ffffff;
          font-family:Verdana;
          border:0;
           }
 input.new{background-color: #ffffff;
          color:#000000;
          font-family:Verdana;
          border:solid #000000 1px;
           }
 input.new:hover{color:#787878;
                   cursor:pointer;
           }
 input.exit:hover{color:#80b3ff;
                   cursor:pointer;
           }
 a.login{font-size:9pt;
          color:#ffffff;
          font-family:Verdana;
          text-decoration:none;
         }
 a.login:hover{font-size:9pt;
          color:#80b3ff;
          font-family:Verdana;
          text-decoration:none;
          cursor: pointer;
         }
 font.login{font-size:12pt;
          color:#80b3ff;
          font-family:Verdana;
         }
 font.uname{
          font-size:13pt;
          color:#ffffff;
          font-family:Verdana;
         }
 font.head{
          font-size:9pt;
          color:#ffffff;
          font-family:Verdana;
         }
 font.error{
          font-size:11pt;
          font-family:Verdana;
}
 font.norm{color:#000000;
          font-size:9pt;
          font-family:Verdana;
}
hr.top{
     height:6pt;
     background-color:#333333;#333333
     color:#333333;
     width:100%;
}
hr.bot{
     height:2pt;
     background-color:#333333;#333333
     color:#333333;
     width:100%;
}


 a{font-size:9pt;
          color:#2c5aa0;
          font-family:Verdana;
          text-decoration:none;
         }
 a:hover{font-size:9pt;
          color:#80b3ff;
          font-family:Verdana;
          text-decoration:none;
          cursor: pointer;
         }



</style>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="http://st.xforum.x-union.org/favicon.ico" type="image/x-icon">

<title>yapf :: xforum</title>

</head>

 <body>
  <table cellpading="0" cellspacing="0" width="100%">
   <tr class="top">
    <td class="left">
     &nbsp;&nbsp;&nbsp;<a href="/" class="top"><b><i>xForum</i></b></a>
    </td>

<td class="right">
[% IF auth == 0 %]
      <br>
     <form action='/logout' method='post'>
          <font class="login">Welcome [</font>
          <font class="uname">[% username %]</font>
          <font class="login">]&nbsp;</font>
           <a href ="/profile" class="login">профиль</a>
          <input type="hidden" name="type" value="board">
          <input type="hidden" name="idb" value="[% idb %]">
          <input type="hidden" name="page" value="[% page %]">
          <input  type='submit' class="exit" value='выход'>
     </form>
[% ELSE %]
       <br>
     <form action="/login" method='post'>
         <font class="log_in"><b>login</b></font>
         <input type='text' name='login' class="auth">
         &nbsp;<font class="log_in"><b>password</b></font>
         &nbsp;<input type='password' name='psw' class="auth">
          <input type="hidden" name="type" value="board">
          <input type="hidden" name="idb" value="[% idb %]">
          <input type="hidden" name="page" value="[% page %]">
         <input type='submit' value=' войти ' class="exit">
     </form>

[% END %]
  [% IF error %]
          <font class="error">неверный логин или пароль!!!</font>
  [% END %]
</td>
</table>

<hr class="top">
<br>




<div id="container" style="width:100%;">


[% IF arr_adv %]
 <div id="menu" style="float:left;clear:left;">&nbsp;&nbsp;
 <img src='http://st.xforum.x-union.org/xf/objavleniya.png'>&nbsp;&nbsp;&nbsp;</div>

 <div id="content" style="float:left;width:92%;">
 <div style="background:#333333;color:#ffffff;font-face:Verdana;font-size:13pt;height:16pt;">&nbsp;&nbsp;&nbsp;ОбЪявления</div>
 <div style="float:left;">

[% SET I = 0 %]
   [% FOREACH rows IN arr_adv %]

        &#187;<a href="/thread/[% rows.id %]/?page=1" class="adv">&nbsp;[% rows.name %]</a><font class="norm"> by [% arr_a.$I %]</font>
       [% SET I = I + 1 %]
    [% END %]
   <br>
   <br>
 </div>
 </div>
[% END %]


 <div id="menu" style="float:left;clear:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

 <div id="content" style="float:left;width:92%;">
 <div style="background:#333333;color:#ffffff;font-face:Verdana;font-size:13pt;height:16pt;">&nbsp;&nbsp;&nbsp;&#187;&nbsp;[% nameb %]</div>
 <div style="float:left;">
    <br>

[% IF auth == 0 %]

<form action='/board/newthread' method='post'>
            <input type="hidden" name="idb" value="[% idb %]">
               <input type="submit" class="new"  value='новая тема'>
</form>
<p>
[% END %]

 </div>
 <div style="float:right;">
<br>
[% SET N = 0 %]
      <font color='black'>
        [% WHILE (N < pages) %] 
           [% IF page == N + 1 %]
              [<a href="/board/[% idb %]/?page=[% N + 1 %]" class="page">[% N + 1 %]</a>]
           [% ELSE %]
              <a href="/board/[% idb %]/?page=[% N + 1 %]" class="page">[% N + 1 %]</a>
           [% END %]
           [% SET N = N + 1 %]
        [% END %]
      </font>
<p>
</div>
 </div>




 <div id="menu" style="float:left;clear:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

 <div id="content" style="float:left;width:92%;">
 <div style="float:left;width:100%">


[% IF arr_them_a %]

[% SET I = 0 %]

      <font class="norm">Важные темы</font><br>

       <table width="100%" cellpadding=0 cellspacing=0>
        <tr style="background-color: #000000;">
        <td ><font class="head">название</font></a></td>
        <td class="left_s"><font class="head">ответов</font></a></td>
        <td class="center" align='center'><font class="head">автор</font></td>
        <td class="center" align='center'><font class="head">время</font></td>
        <td class="center_s"></td>
        </tr>

   [% SET K = 0 %]
   [% FOREACH rows IN arr_them_a %]
      
        <tr class='content'>
         [% IF K == 0 %]
           <td style="border-top:solid #C0C0C0 1px;border-left:solid #C0C0C0 1px;border-right:solid #C0C0C0 1px;border-bottom:solid #C0C0C0 1px;width:100%;">
         [% ELSE %]
           <td style="border-left:solid #C0C0C0 1px;border-right:solid #C0C0C0 1px;border-bottom:solid #C0C0C0 1px;width:100%;">
         [% END %]
         [% IF rows.status == 1 %]
            <img src='http://st.xforum.x-union.org/mail_get.png' style="vertical-align:middle;">
         [% ELSE %]
            <img src='http://st.xforum.x-union.org/gpg.png' style="vertical-align:middle;">
         [% END %]
        <a href='/thread/[% rows.id %]/?page=1' class="theme">[% rows.name %]</a></td>
        <td style="background-color: #C0C0C0;"><font class="norm">[% arr_answ_a.$I %]</font></td>
         [% IF K == 0 %]
           <td style="border-top:solid #C0C0C0 1px;border-left:solid #C0C0C0 1px;border-right:solid #C0C0C0 1px;border-bottom:solid #C0C0C0 1px;"> <font class="norm">&nbsp;[% arr_authr_a.$I %]&nbsp;</font></td>
           [% SET K = 1 %]
         [% ELSE %]
           <td style="border-left:solid #C0C0C0 1px;border-right:solid #C0C0C0 1px;border-bottom:solid #C0C0C0 1px;"> <font class="norm">&nbsp;[% arr_authr_a.$I %]&nbsp;</font></td>
         [% END %]
        <td style="background-color: #C0C0C0;" nowrap><font class="norm">[% rows.date %]</font></td>
        </tr>
       [% SET I = I + 1 %]
    [% END %]
       </table>
  <p>
  [% END %]

[% IF arr_them %]
[% SET I = 0 %]


       <table width="100%" cellpadding=0 cellspacing=0>

        <tr style="background-color: #000000;">
        <td ><font class="head">название</font></a></td>
        <td class="left_s"><font class="head">ответов</font></a></td>
        <td class="center" align='center'><font class="head">автор</font></td>
        <td class="center" align='center'><font class="head">время</font></td>
        <td class="center_s"></td>
        </tr>

   [% SET K = 0 %]
   [% FOREACH rows IN arr_them %]
      
        <tr class='content'>
         [% IF K == 0 %]
           <td style="border-top:solid #C0C0C0 1px;border-left:solid #C0C0C0 1px;border-right:solid #C0C0C0 1px;border-bottom:solid #C0C0C0 1px;width:100%;">
         [% ELSE %]
           <td style="border-left:solid #C0C0C0 1px;border-right:solid #C0C0C0 1px;border-bottom:solid #C0C0C0 1px;width:100%;">
         [% END %]
         [% IF rows.status == 1 %]
            <img src='http://st.xforum.x-union.org/mail_get.png' style="vertical-align:middle;">
         [% ELSE %]
            <img src='http://st.xforum.x-union.org/gpg.png' style="vertical-align:middle;">
         [% END %]
        <a href='/thread/[% rows.id %]/?page=1' class="theme">[% rows.name %]</a></td>
        <td style="background-color: #C0C0C0;"><font class="norm">[% arr_answ.$I %]</font></td>
         [% IF K == 0 %]
           <td style="border-top:solid #C0C0C0 1px;border-left:solid #C0C0C0 1px;border-right:solid #C0C0C0 1px;border-bottom:solid #C0C0C0 1px;"> <font class="norm">&nbsp;[% arr_authr.$I %]&nbsp;</font></td>
           [% SET K = 1 %]
         [% ELSE %]
           <td style="border-left:solid #C0C0C0 1px;border-right:solid #C0C0C0 1px;border-bottom:solid #C0C0C0 1px;"> <font class="norm">&nbsp;[% arr_authr.$I %]&nbsp;</font></td>
         [% END %]
        <td style="background-color: #C0C0C0;" nowrap><font class="norm">[% rows.date %]</font></td>
        </tr>
       [% SET I = I + 1 %]
    [% END %]
[% END %]
       </table>



   <br>
   <br>
 </div>
 </div>


 <div id="menu" style="float:left;clear:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

 <div id="content" style="float:left;width:92%;">
 <div style="float:left;">
 </div>
 <div style="float:right;">
[% SET N = 0 %]
      <font color='black'>
        [% WHILE (N < pages) %] 
           [% IF page == N + 1 %]
              [<a href="/board/[% idb %]/?page=[% N + 1 %]" class="page">[% N + 1 %]</a>]
           [% ELSE %]
              <a href="/board/[% idb %]/?page=[% N + 1 %]" class="page">[% N + 1 %]</a>
           [% END %]
           [% SET N = N + 1 %]
        [% END %]
      </font>
<p>
</div>
 </div>




 <div id="content" style="float:left;width:100%;">
 <div style="background:#2c5aa0;color:#ffffff;font-face:Verdana;font-size:13pt;height:16pt;text-align:center;">Информация</div>
 <div style="float:left;"><br>
   <font class="norm">&nbsp;&nbsp;Участники: [% sum_u %]</font><br>
   <font class="norm">&nbsp;&nbsp;Последний зарегистрированный: [% lastuser %]</font><br>
   <br>
 <br></div>
 <div style="float:right;">
   <br><a href="http://www.catalystframework.org/"><img src='http://st.xforum.x-union.org/xf/cat.png' border=0>&nbsp;&nbsp;&nbsp;</a>
 </div>
 </div>

 <div id="content" style="float:left;width:100%;">
 <div><br><hr class="bot">
 </div>
 </div>


 <div id="content" style="float:left;width:100%;">
 <div style="background:#333333;color:#ffffff;font-face:Verdana;font-size:11pt;height:16pt;text-align:center;">
 <b>YAPF::xForum (c) Developed by unStatiK</b>
 </div>
 </div>
 </div>




</div>

 </body>
</html>
