<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" 
"http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">

<html lang="ru">

<head>
<style type="text/css">
  body{margin: 5;}
  a{
  text-decoration:none;
  color:#006600;}
  a.main:hover{text-decoration:underline;}
  a.sub:hover{text-decoration:underline; color:#FF9933;}
</style>
<link rel="shortcut icon" href="http://st.xforum.x-union.org/favicon.ico" type="image/x-icon">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>.::xForum::.</title>

</head>

<body bgcolor="white">

<div style="position:absolute;left : 10px;top : 100px; width: 65%;">
<font style="color:#348017; font-size: 1em;"></font>
</div>

<table width="100%" cellpadding="0" cellspacing="0">

  <tr>
   <td>
     <font style=" font-size:35px; color:#FCA545;"><b>Регистрация аккаунта</b></font>
   </td>
   <td align='right'>
     >>><a href='/'>на главную</a>
   </td>
  </tr>
  <tr>
   <td colspan="2">
     <font style=" font-size:16px; color:red;">* регистрацию нового аккаунта можно делать только с 
одного ip адресса, если вы уже зарегали с этого ip или с этого ip уже был зареган, то новый аккаунт создать 
невозможно.Если нужно 
создать аккаунт еще один обратитесь к админу сервера.<br>
** в имени можно использовать только числа и латинские символы и длина не должна превышать больше 10 символов.Длина 
пароля не должна превышать 40 символов.В пароле можно использовать числа,русские и латинские символы, а также символ 
подчеркивания _
     </font>
   </td>
  </tr>
 </table>

 <form action='newreg' method='post'>
 <table cellpadding="0" cellspacing="0" align='center'>
 <tr><td align='center'><br><br><font color='#D00000'>[% error %]</font></td></tr>
  <tr>
   <td>
     <br><br>
     <font style=" font-size:18px; color:#FCA545;">Nickname</font>
   </td>
  </tr>
  <tr>
   <td>
     <input type='text' name='nick' style='color:#006600;font-size:20px;width:320px;' value='[% nick %]'>
   </td>
  </tr>

  <tr>
   <td>
     <br><br>
     <font style=" font-size:18px; color:#FCA545;">Password</font>
   </td>
  </tr>
  <tr>
   <td>
     <input type='password' name='psw' style='color:#006600;font-size:20px;width:320px;'>
   </td>
  </tr>

  <tr>
   <td>
     <br><br>
     <font style=" font-size:18px; color:#FCA545;">Repeat password</font>
   </td>
  </tr>
  <tr>
   <td>
     <input type='password' name='repsw' style='color:#006600;font-size:20px;width:320px;'>
   </td>
  </tr>

  <tr>
   <td align='right'><br><br>
     <input type='submit' value='создать' style='font-size:18px;border: 1px solid 
#303030;background-color:white;color:#006600;'>
   </td>
  </tr>

</table>
</form>
 <br><br>
 <table cellpadding="0" cellspacing="0" align='center' width="80%">  
   <tr>
    <td width="100%" colspan="2">
      <hr color='#FCA545'>
    </td>
   </tr>
  <tr>

 <td align='right' width="100%"> <br><font style="size:12px;" color='black'><i>xForum (c)</i></font><br>
<font color='black'><b>Developed by unStatiK</b>&nbsp;&nbsp;</font><br><br></td>

  </tr>
 </table>
</body>

</html>



